body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
}
#wrap {
	width: 1000px;
	margin: 20px auto;
}

.message-item {
	margin: 20px 0;
}

.navblock{
	background-color: #1b1b1b;
	padding: 5px;
	height: 30px;
	color: #ffffff;
}

#wrap2 {
	width: 100%;
	margin: 0;
}

.title-text{
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	float: left;
	position: relative;
}

.user-block{
	vertical-align: middle;
	font-size: 20px;
	padding: 5px;
	float: right;
	position: relative;
}