/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* our styles
*/

body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}
#wrap {
	width: 1000px;
	margin: 20px auto;
}

.message-item {
	margin: 20px 0;
}

.message-input{
	height: 35px;
	position: relative;
	float: left;
	width: 89%;
}

#messages {
	width: 100%;
	margin-left:200px;
	padding: 5px;
	margin: 0;
	z-index: 2;
	font-size: 16px;
	border-left: 1px #1f1f1f solid;
	display: table-cell
}

#online-users {
	float: left;
	width:200px;
	padding: 5px;
	z-index: 1;
	height:100%;
	display: table-cell
}

.fetched-content, .controls-content{
	width:100%;
	display:inline-block;
}

.fetched-content{
	border-bottom: 1px #1f1f1f solid;
	display: table
}

.controls-content{
	background-color: #F7B823;
	height: 50px;
	padding: 5px;
}

.controls-content form{
	height: 50px;
	width: auto;
}

#chat {
	width:100%;
	border: 1px #1f1f1f solid;
}

.navblock{
	background-color: #1b1b1b;
	padding: 5px;
	height: 30px;
	color: #ffffff;
}

#wrap2 {
	width: 100%;
	margin: 0;
}

.title-text{
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	float: left;
	position: relative;
}

.user-block{
	vertical-align: middle;
	font-size: 20px;
	margin-right: 5px;
	float: right;
	position: relative;
}

#btn{
	margin-left: 5px;
	float: left;
	position: relative;
	height: 45px;
	width: 10%;
}

textarea {
    resize: none;
}